# 4.6 Merging Instacart Data

### This script contains the following points 

01. Importing Libraries 
02. Checking Data
03. Merging Dataframes
04. Exporting Dataframe

# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/tsique/Documents/Instacart Basket Analysis'

In [3]:
# Importing orders_products_prior dataset 

df_ords_prior = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [9]:
# Import orders_checked dataset 

df_ords = pd.read_csv (os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

# 02. Checking Data

In [5]:
# Checking shape of df_ords_prior

df_ords_prior.shape

(32434489, 4)

In [6]:
# Check the output 

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check shape of df_ords

df_ords.shape

(3214874, 7)

In [10]:
# Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0

# 03. Merging Dataframes

In [11]:
# Merging df_ords_prior to df_ords

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Checking that merge succesfully happened

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [13]:
# Checking results of merge 

df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Checking shape of new dataframe

df_merged_large.shape

(30356421, 10)

# 04. Exporting Dataframe

In [15]:
# Export data to pkl 

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))