# 4.6 Merging Instacart Data

### This script contains the following points

01. Checking Data
02. Merging Dataframes
03. Exporting Dataframe

In [1]:
# Import libraries 

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/tsique/Documents/Instacart Basket Analysis'

In [3]:
# Importing orders_products_combined.pkl

df_ords_prods= pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data','orders_products_combined.pkl'))

In [6]:
# Importing products_checked.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

## 01. Checking Data

In [7]:
# Checking that shape of df_ords_prods is the same as when created

df_ords_prods.shape

(30356421, 10)

Shape is the same as what was created.

In [8]:
# Check the output

df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [9]:
# Checking df_prods shape

df_prods.shape

(49672, 5)

In [10]:
#Check the output

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 02. Merging Datasets

In [13]:
# Dropping _merge column from df_ords_prods

df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [14]:
# Checking that _merge was dropped 

df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,2,3,7,15.0,196,1,1
1,2398795,1,2,3,7,15.0,10258,2,0
2,2398795,1,2,3,7,15.0,12427,3,1
3,2398795,1,2,3,7,15.0,13176,4,0
4,2398795,1,2,3,7,15.0,26088,5,1

In [15]:
# Merging df_prods to df_ords_prods

df_orders_products_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
# Checking is merge was successful 

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both

In [17]:
# Checking results of merge

df_orders_products_merged['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
# Checking new shape

df_orders_products_merged.shape

(30328763, 14)

# 03. Exporting Dataframe

In [19]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))