# Products Consistency Checks

### The following will be discussed in this script: 

1. Mixed-Type Data
2. Missing Values
3. Exporting Data

In [1]:
# Import libraries

import pandas as pd 
import numpy as np
import os

In [2]:
#Import products_csv

df_prods = pd.read_csv(os.path.join(r'/Users/tsique/Documents/Instacart Basket Analysis/02 Data/Original Data/products.csv'), index_col = False)

# 01. Mixed-Type Data

In [3]:
# Create a dataframe
df_test = pd.DataFrame()

In [4]:
# Create a mixed type column
df_test ['mix'] = ['a','b',1,True]

In [5]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [6]:
df_test['mix'] = df_test['mix'].astype('str')

# 02. Missing Values

In [7]:
# Checking for missing values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
# Subset for missing values in product_name

df_nan = df_prods [df_prods['product_name'].isnull() == True]

In [9]:
# Checking df_nan

df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [10]:
# Checking df_prods shape

df_prods.shape

(49693, 5)

In [11]:
# Creating a dataframe without missing values

df_prods_clean = df_prods[df_prods['product_name'].isnull()== False]

In [12]:
# Checking that new dataframe has 16 less rows

df_prods_clean.shape

(49677, 5)

In [13]:
# Creating a subset of only rows that are duplicates in df_prods_cleans

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [14]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [15]:
# Creating clean dataframe excluding duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [16]:
# Confirming that the 5 duplicates were dropped

df_prods_clean_no_dups.shape

(49672, 5)

# 03. Exporting dataframe

In [18]:
path = r'/Users/tsique/Documents/Instacart Basket Analysis'

In [19]:
df_prods_clean_no_dups.to_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv'))